h1, h2 {
  text-align: center;
}

body {
  margin: 10px;
  background-color: #2c2f33;
  color: #fff;
}

button {
  background-color: #e7e7e7;
  color: #23272a;
  border: 3px solid #99aab5;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #23272a;
  color: #e7e7e7;
}